#!.yarn/cache
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
dist
src/data/city_partial.json
.DS_Store

src/sql.ts
src/test.ts
cocobase.sqlite

.pnp.*
.env