.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*

/src/data

.DS_Store
node_modules
.env
tsconfig.json
yarn.lock
.yarnrc.yml
.editorconfig
.gitattributes
.gitignore